body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex:auto;
    margin-left: auto;
    margin-right: auto;
    height: 50vw;
}

.row {
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 50vw;
}

.box {
    flex:auto;
    background: floralwhite;
}

#reset {
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 1em;
    font-size: large;
}