
.container {
    display: flex;
    flex-direction: column;
    height: 100vw;
    border-color: black;
}

.row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.box {
    flex:auto;
    background: floralwhite;
    border-width: .1px;
    border-style:solid;
}

.filled {
    background:black;
}

#clear {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-size: large;
}